.BadgeForm {
    width: 100%;
    height: 100vh;
    padding: 10px;
    font-size: 1.5em;    
}
.BadgeForm h1 {
    text-align: center;
}
.form-group{
    padding-top: 10px;
    margin: 10px;
    text-align: center;
}


.form-control{
    padding: 0px 10px;
    width: 90%;
    background-color: rgba(245,245,245,80);
    font-size: 1.3em;

}

.btn {
    padding-top: 15px;
    text-align: center;
}

.btn-primary {
    font-size: 2em;
    width: 70%;
    border-radius: 20px;
    background-color: #d75c2a;
    color: white;
}


