.Badge {
    background: rgb(243,242,242);
    border-style: solid;
    border-color: #d75c2a;
    border-radius: 20px;
    width: 90%;
    height: 50vh;

    padding: 2px 5px 5px 5px;
    color: black;
}

.Badge_hero{
    width: 100%;
    height: 20px;
}

.Badge_Header{
    padding: 0;
    width: 100%;
    height: 15%;
    text-align: center;
}

.Badge_Header img {
    height: -webkit-fill-available;
}


.Badge_SectionName, .Badge_Enterprice {
    height: 70%;
    text-align: center;
    display: grid;
    grid-template: 1fr / 50% 50%;
    justify-items: center;
    align-items: center;
}
.Badge_SectionName img {
    height: inherit;
}

.Badge_Enterprice {
    height: auto;
}

.list-unstyled{
    list-style: none;
}

.list-unstyled li {
    padding: 10px;
}